a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

#red-nav {
    background: #e00122;
}

#red-nav > div a#logo {
    overflow: hidden;
    height: 70px;
    display: block;
    float: left;
    padding: 15px 10px;
    line-height: 0.8;
    background: #e00122;
    z-index: 2;
    position: relative;
}

#red-nav > div a#logo .svg.svg-logo * {
    fill: #fff;
}

#red-nav > div a#logo .svg.svg-logo {
    width: auto;
    max-width: 260px;
    height: 40px;
}


/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.btn-red {
    color: #fff;
    background-color: #e00122;
    border-color: #dc3545;
    margin: 5px;
    box-shadow: none !important;
}
.btn-reject:hover,
.btn-green:hover,
.btn-red:hover {
    color: black;
}
.btn-reject {
    color: #fff;
    background-color: #ff3823;
    border-color: #ff3823;
    margin: 5px;
    font-family: 'Open Sans';
}
.btn-green {
    color: #fff;
    background-color: #92d36e;
    border-color: #92d36e;
    margin: 5px;
    font-family: 'Open Sans';
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.text-Header {
    font-family: 'Open Sans';
    font-size: 40px;
    color: black;
    text-align: center;
}
.item-display {
    height: 150px;
    padding-left: 40px;
    padding-right: 40px;

}
.items-divs {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.image-Button {
    border:none;
    background:none;
    padding:0;
}
.horizontal-div {
    display: inline-block;
}
.add-to-cart-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}
/*.table{*/
/*    font-family: sans-serif !important;*/
/*    padding: 20px !important;*/
/*}*/
.pantrytable{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;

}


