a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

#red-nav {
    background: #e00122;
}

#red-nav > div a#logo {
    overflow: hidden;
    height: 70px;
    display: block;
    float: left;
    padding: 15px 10px;
    line-height: 0.8;
    background: #e00122;
    z-index: 2;
    position: relative;
}

#red-nav > div a#logo .svg.svg-logo * {
    fill: #fff;
}

#red-nav > div a#logo .svg.svg-logo {
    width: auto;
    max-width: 260px;
    height: 40px;
}


/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-reject:hover,
.btn-green:hover,
.btn-red:hover {
    color: #ddd;
}
.btn-red {
    color: #fff;
    background-color: #e00122;
    border-color: #e00122;
    margin: 5px;
    box-shadow: none !important;
}
.btn-yellow {
    background-color: #fefb64;
    border-color: #fefb64;
    margin: 5px;
    box-shadow: none !important;
    font-weight: 600;
    pointer-events: none;
    width:100%
}
.btn-orange {
    background-color: #ff6624;
    border-color: #ff6624;
    margin: 5px;
    box-shadow: none !important;
    font-weight: 600;
    pointer-events: none;
    width:100%
}
.btn-reject {
    color: #fff;
    background-color: #ff3823;
    border-color: #ff3823;
    margin: 5px;
    font-family: 'Open Sans';
}
.btn-green {
    color: #fff;
    background-color: #92d36e;
    border-color: #92d36e;
    margin: 5px;
    font-family: 'Open Sans';
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.text-Header {
    font-family: 'Open Sans';
    font-size: 40px;
    color: black;
    text-align: center;
}
.item-display {
    height: 150px;
    padding-left: 40px;
    padding-right: 40px;

}
.items-divs {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.image-Button {
    border:none;
    background:none;
    padding:0;
}
.horizontal-div {
    display: inline-block;
}
.add-to-cart-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

.table{
    font-family: sans-serif !important;
}

.table tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    background-color: #f5f5f5;
}

.dataTables_wrapper .dataTables_paginate {
    font-family: sans-serif !important;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #e00122;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
  
.page-link:hover {
    z-index: 2;
    color: #e00122;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
  
.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #dee2e6;
}
  
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #e00122;
    border-color: #e00122;
}
  
.page-item.disabled .page-link {
    color: #6c757d;
    background-color: #dee2e6;
    border-color: #dee2e6;
}

.search { 
    float: right;
    border-radius: 3px;
    font-family: sans-serif !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem #dee2e6 !important;
    border-color: #dee2e6;
}

.dataTables_length {
    font-size: 1em;
    padding:0px 15px;
    font-family: sans-serif !important;
}

.dataTables_length select {
    font-size: 1em;
    font-family: sans-serif !important;
    padding: 0px 25px 0px 5px;
}

.modal-header {
    background-color: #e00122 !important;
    color:#fff;
}

.modal-title {
    line-height: 1.0;
    font-size: 1.5rem;
}

.modal-body {
    padding: 1rem 1rem 0rem 1rem;
}

.modal-body h6 {
    font-weight:normal !important;
}

.close {
    color: #fff;
    text-shadow: 0 1px 0 black;
    opacity: 1.0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
    margin-bottom: 0 !important;
}

.form-check {
    margin-top: 10px;
    padding-lefT: unset;
}

.form-control {
    padding: 1.375rem .75rem;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    position: relative;
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: -22px;
    top: -5px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    background-color: #e00122;
}


[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    content: '\2714';
    position: absolute;
    left: -18px;
    font-size: 15px;
    line-height: 0.8;
    color: #fff;
    transition: all .1s;
}

[type="checkbox"]:not(:checked)+label:after {
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    transform: scale(1);
}

.grid-container {
    display: grid;
    grid-column-gap: 10px;
    padding: 10px;
    margin: 0 10px 0 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.newmodal1,
.newmodal2 {
    padding-top: 0px !important;
}

.newmodal3 {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top: 10px !important;
    border: 1px solid #e00122;
    display:block !important;
}


.newmodal5,
.newmodal6 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.newmodal9 {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 1rem;
}

input[type="file"] {
    display: none;
}

.file-upload {
    position: relative;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 10px;
    font-weight: 500;
}

.form-control {
    border: 1px solid #e00122;
}
#imgPreview,
.shopping-image {
    max-width: 152px;
    max-height: 152px;
    margin-bottom: 10px;
}

.select {
    width:100%;
    border: 1px solid #e00122;
    height: 2.85rem;
    padding: .375rem .75rem;
    color: #495057;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.date-select{
    border: 1px solid #e00122;
    height: 2.85rem;
    padding: .375rem .75rem;
    color: #495057;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.label {
    padding-left: .5rem;
}

.form-check [type="checkbox"]:not(:checked)+label:before,
.form-check [type="checkbox"]:checked+label:before {
    top: 0px !important;
}

.scrollingTable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
}

#page-mask {
    position: unset;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 1rem 0 0 0;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.shadow-sm {
    width:75%;
    margin-bottom: 1rem;
}

.card-img-top {
    width:unset;
    align-self: center;
}

.shopping {
    padding-right: unset;
    padding-left: unset;
    max-width: 16%;
}

.shoppingcontainer {
    max-width: 100%;
    padding-right: unset;
    padding-left: unset;
}

.shoppingtitle {
    text-align: center;
}

.btn-sm:hover {
    color: #ddd;
    background-color: #e00122;
    border-color: #e00122;
}

.btn-sm {
    color: #fff;
    background-color: #e00122;
    border-color: #e00122;
}

.shoppinglink:link {
    text-decoration: none;
    color:blue;
}
  
.shoppinglink:visited {
    text-decoration: none;
}

.shoppinglink:hover {
    text-decoration: underline;
}

.shoppinglink:active {
    text-decoration: underline;
}

.shoppingrow {
    justify-content: center;
    margin-right: unset;
    margin-left: unset;
}

.shoppingcard {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #e00122;
}

#menu-toggle {
    border: 0;
    background: transparent;
    height: 55px;
    position: absolute;
    float: right;
    width: 70px;
    right: 20%;
}

.svg-menu {
    fill: #fff;
    outline: 0 !important;
    height: 40px;
}

#myLinks {
    display: none;
    min-width: 300%;
}

#menu-toggle:hover {
    background-color: #b8011c;
}

#myLinks a {
    background-color: #e00122;
    color: #fff;
    padding: 5px 10px;
    display: block;
}